body {
    overflow-x: hidden;
}
div#respond input, div#respond textarea {
    display: block;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@font-face {
    font-family: "Bebas Neue Regular";
    src: url(../fonts/BebasNeue/BebasNeueRegular.html);
}

@font-face {
    font-family: "Bebas Neue Bold";
    src: url(../fonts/BebasNeue/BebasNeueBold.html);
}

@font-face {
    font-family: "Bebas Neue Book";
    src: url(../fonts/BebasNeue/BebasNeueBook.html);
}

@font-face {
    font-family: "Bebas Neue Light";
    src: url(../fonts/BebasNeue/BebasNeueLight.html);
}

@font-face {
    font-family: "Bebas Neue Thin";
    src: url(../fonts/BebasNeue/BebasNeueThin.html);
}

@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue Bold";
}
h2.post_title a{
    font-family: "Bebas Neue Bold";
    color: #333
}

p, a, #loginform > p.login-remember > label, input {
    font-family: "Open Sans";
}

a, input, button {
    cursor: pointer;
    outline: none!important;
}
.navbar div{
    margin-bottom: 0px!important
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 0px;
    width: auto;
}
.nav > li > a{
    padding: 0px 25px!important;
    line-height: 60px;
}

#modal {
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important
}

div.navbar-header > a {
    margin: 0;
    padding: 5px 0px 0px 0px;
    outline: none!important;
}

#logo {
    max-width: 80px;
}

#responsive-menu > ul > li > a {
    filter: alpha(Opacity=50);
    opacity: 0.5;
    font-family: "Bebas Neue Regular";
}

#responsive-menu > ul > li > a:hover {
    filter: alpha(Opacity=100);
    opacity: 1.0;
}

#responsive-menu > ul > li > a > img {
    width: 20px;
    padding-right: 5px;
}
#responsive-menu > ul > li > a > i {
    width: 20px;
    padding-right: 5px;
}


#searchsubmit, .button-primary {
    height: 45px;
    width: 100%;
    background-color: #dc322f;
    border-style: none;
    margin: 20px 0px 0px 0px;
    display: inline-block;
    margin-bottom: 20px;
    color: white;
}

.input, #s, #registerForm > div > input {
    height: 40px;
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: #d8d8d8 solid 1px;
    display: inline-block;
}

.modal-content {
    border-radius: 0%;
    border-top: #dc322f solid 10px;
    padding-left: 30px;
    padding-right: 30px;

}

#registerForm > h4, #registerForm > a, .modal-content > a, #registerForm > h3, .modal-content > h3 {
    margin-top: 10px;
    display: inline-block;
}

#lostpassword, .modal-content > a, #registerForm > a {
    margin-top: 10px;
    color: #dc322f;
    float: right;
}

#rememberme {
    border-radius: 0px;
    border: #d8d8d8 solid 1px;
}

#wp-submit {
    width: 50%;
    display: inline-block;
}

#lostpassword {
    margin-top: -60px;
    color: #dc322f;
    float: right;
}

div.modal-dialog {
    width: 450px !important;
}

#searchform > div > label {
    display: block;
    text-align: center;
    font-size: 18pt;
    margin-top: 10px;
}
#search_form h4{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.gsc-input-box{
    height: auto!important;
}

li.dropdown.open {
    position: static;
}

li.dropdown.open .dropdown-menu {
    display: table;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.dropdown-menu > li {
    display: table-cell;
}

#submenu > div > div:hover {
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

.container-fluid {
    padding: 0px;
}

.footer-img {
    max-width: 600px;
}

.footer-list {
    list-style: none;
}

.footer-list > li > a {
    font-family: "Bebas Neue Regular";
    color: #000;
    text-decoration: none;
}

.footer-list > li > a:hover {
    color: #dc322f;
}

.footer-list > h6 {
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

body > div:nth-child(6) > div > div > p {
    width: 100%;
}

p {
    word-wrap: break-word;
    white-space: inherit;
    text-align: justify;
}

#submenu > div > div:nth-child(4) > a {
    text-decoration: none;
}

ul {
    
}
.icon-menu{
    list-style: none!important;
}

#up, #up > a {
    position: fixed;
    z-index: 500;
    width: 56px;
    height: 56px;
    bottom: 70px;
    right: 30px;
    cursor: pointer;
    outline: none;
}

#up > a > img {
    width: 56px;
    height: 56px;
    outline: none;
}

.second-menu > div {
    display: inline-block;
    padding: 10px;
}

.second-menu > div > a {
    color: #fff;
    text-decoration: none;
    padding: 7px;
}

body > div.container > li > a {
    text-decoration: none;
}

body > div.container > li {
    list-style: none;
}

.header-text {
    background-color: #dc322f;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin: 175px 0 0 0;
}

.header-text > h3, .header-text > h4 {
color: #fff;
}

#pagination > nav > div{
    display: inline-block;
}
a.next{
    position: relative;
    float:right;
}
a.prev{
    position: relative;
    float:left;
}

#buy{
    width:50%;
    display: inline-block;
}
#paid_content > div > div > a{
    margin-top: 30px;
}

.top_post{
    display: inline-block;
    margin-top: 175px;
}
.top_post .title{

    display: inline-block;
    background: #dc322f;
    line-height: 30px;
    padding: 10px 15px 5px 15px;
}
.top_post .title a{
    font-family: "Bebas Neue Regular";
    color: #fff;
}
.top_post .title h3{
    margin: 0px!important;
}
.top_post .info{
    display: inline-block;
    background: #b81816;
    padding: 10px 15px 5px 15px;
}
.top_post .info h4{
    margin: 0px!important;
}
.top_post .info a{
    font-family: "Bebas Neue Regular";
    color: #fff;
    font-weight: 700
}
.last_post{
    margin-bottom: 40px;
}
.last_post .post_item{
    padding: 0px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
    border-bottom: 2px dashed #f7f7f7; 
}
.last_post h2.post_title{
    margin-top: 0px!important
}
.last_post .description{
    font-size: 16px;
    margin-top: 10px;
}
.last_post .post_info{
    display: inline-block;
    height: 40px;
}
.last_post .post_info .category i{
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.last_post .post_info .category{
    position: relative;
    display: inline-block;
    float: left;
    background: #859b00;
    height: 45px;
}
.last_post .post_info .author{
    display: inline-block;
    float: left;
    background: #859b00;
    padding: 0px 20px;
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #fff;
    padding: 2px 20px 5px 20px;
    height: 45px;
}
a.postcategory {padding-left:15px !important;}
.last_post .post_info .author a{
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #fff;
}
.last_post .post_info .category a{
    display: inline-block;
    text-decoration: none; 
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #fff;
    padding: 10px 0px 5px 0px;
}

/*
.last_post .post_info .category.color-1{
    background: #cb4b16;
}
.last_post .post_info .author.color-1{
    background: #dc322f;
}
.last_post .post_info .category.color-2{
    background: #3889d4;
}
.last_post .post_info .author.color-2{
    background: #0c5ca7
}
.last_post .post_info .category.color-3{
    background: #859b00;
}
.last_post .post_info .author.color-3{
    background: #617100;
}
.last_post .post_info .category.color-4{
    background: #6c71c4;
}
.last_post .post_info .author.color-4{
    background: #4a4fa2;
}
.last_post .post_info .category.color-5{
    background: #dc322f;
}
.last_post .post_info .author.color-5{
    background: #dc322f;
}
*/

.single_post{
    display: inline-block;
    margin-top: 150px;
}
.single_post .title{
    display: inline-block;
    background: #dc322f;
    line-height: 30px;
    padding: 10px 15px 5px 15px;
}
.single_post .title h3{
    margin: 0px!important;
}
.single_post .info{
    display: inline-block;
    background: #b81816;
    padding: 10px 15px 5px 15px;
}
.single_post .info h4{
    margin: 0px!important;
}
.single_post .info h4 a{
    color: #fff;
    font-family: "Bebas Neue Bold";
}
.single_post_content{
    position: relative;
    z-index: 200;
    margin-top: -30px;
    margin-bottom: 30px;
}
.single_post_content iframe{
    display: inherit!important;
    margin: 0 auto!important;
}
.single_post_content .content {
    padding: 30px;
    font-size: 18px;
    color: #333;
    line-height:22px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background: #fff;
}

.related_post .rel_item{
    position: relative;
    padding: 0px!important
}
.related_post .rel_item h4{
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    background: #859b00;
    padding: 5px 5px;
}

/*
.related_post .rel_item h4.color-1{
    background: #dc322f;
}
.related_post .rel_item h4.color-2{
    background: #0c5ca7;
}
.related_post .rel_item h4.color-3{
    background: #617100;
}
.related_post .rel_item h4.color-4{
    background: #4a4fa2;
}
.related_post .rel_item h4.color-5{
    background: #859b00;
}
*/

.related_post .rel_item h4 a{
    font-family: "Bebas Neue Bold";
    color: #fff;
}

.category_post_list h2{
    margin-bottom: 30px;
}
.category_post_list .post_item{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dashed #f7f7f7; 
}
.category_post_list h2.post_title{
    margin-top: 0px;
    margin-bottom: 10px!important;
}
.category_post_list .post_info{
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #CBC8C8;
    margin-bottom: 10px;
}
.navigation{
    position: relative;
    text-align: center;
    width: 100%;
}
.page-numbers{
    display: none!important;
}
.prev.page-numbers, .next.page-numbers{
    display: inline-block!important;
    position: absolute;
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #CBC8C8;
}
.prev.page-numbers{
    left: 0px;
}
.next.page-numbers{
    right: 0px;
}
.navigation .pages{
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #CBC8C8;
    letter-spacing: 1px;
}
.navigation .pages .number{
    color: #333;
}

.comment_block{
    margin-top: 20px;
}
.comment_block h3{
    margin-top: 25px;
    margin-bottom: 10px;
}
.comment_block ul{
    border-color: transparent!important;
}
.comment_block ul li{
    padding: 0px!important
}
.comment_block ul li a{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    outline: none!important;
    border-radius: 0px!important;
    border: 0px!important;
    margin-right: 0px!important
}
.comment_block ul li.active a{
    border-color:transparent!important;
    border-radius: 0px!important;
    color: #fff;
    border: 0px!important
}
.comment_block ul li a:focus, .comment_block ul li a:hover{
    border: transparent!important;
    color: #fff!important;
}
.comment_block ul li.vk a, .comment_block ul li.vk a:hover, .comment_block ul li.vk.active a{
    background: #597da3
}
.comment_block ul li.fb a, .comment_block ul li.fb a:hover, .comment_block ul li.fb.active a{
    background: #3b5998
}
.comment_block ul li.wp a, .comment_block ul li.wp a:hover, .comment_block ul li.wp.active a{
    background: #d54e21
}
#vk_comments{
    width: 100%!important;
    margin-top: 10px!important
}
.commentary-form input, .commentary-form textarea{
    width: 100%;
    padding: 5px 10px;
    border-radius: 0px!important;
    background: transparent!important;
    border: 1px solid #eee!important 
}
.commentary-form .send-review{
    display: inline-block!important;
    width: auto!important;
    padding: 10px 30px 5px 30px!important;
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #fff!important;
    background: #d54e21!important;
    border: 1px solid #d54e21
}
.dropdown-menu{
    padding: 0px!important;
    border: 0px!important;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important
}

/*
.dropdown-menu.color-1{
    border-top: 10px solid #dc322f!important;
}
.dropdown-menu.color-2{
    border-top: 10px solid #0c5ca7!important;
}
.dropdown-menu.color-3{
    border-top: 10px solid #617100!important;
}
.dropdown-menu.color-4{
    border-top: 10px solid #4a4fa2!important;
}
.dropdown-menu.color-5{
    border-top: 10px solid #859b00!important;
}
*/

/*
.open.color-2 a{
    background: #0c5ca7!important;
    color: #fff!important;
    opacity:1!important;
}
.open.color-3 a{
    background: #617100!important;
    color: #fff!important;
    opacity: 1!important;
}
.open.color-4 a{
    background: #4a4fa2!important;
    color: #fff!important;
    opacity: 1!important;
}
.open.color-5 a{
    background: #859b00!important;
    color: #fff!important;
    opacity: 1!important;
}
*/

.open .drop_cat_link a{
    background: transparent!important;
    color: #333!important
}

.drop_post_item{
    position: relative;
    padding: 0px!important;
}
.drop_post_item h4{
    display: inline-block!important;
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    font-size: 16px!important;
    color: #fff;
    text-align: left;
    background: #3889d4;
    padding: 8px 10px 5px 10px;
    margin: 0px!important
}

/*
.drop_post_item h4.color-1{
    background: #dc322f;
}
.drop_post_item h4.color-2{
    background: #0c5ca7;
}
.drop_post_item h4.color-3{
    background: #617100;
}
.drop_post_item h4.color-4{
    background: #4a4fa2;
}
.drop_post_item h4.color-5{
    background: #859b00;
}
*/

.drop_cat_link{
    position: relative;
    padding: 0px!important;
}
.drop_cat_link h4{
    margin-top: 70px;
    text-align: center;
    width: 100%;
}
.drop_cat_link h4 a{
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #333;
}

.social-list li{
    position: relative;
    padding-left: 20px;
}
.social-list a i{
    position: absolute;
    left: 0px;
    top: 3px;
    width: 14px!important;
    height: 14px!important;
    line-height: 14px;
    text-align: center;
    font-size: 8px;
    color: #fff!important;
    background: #000;
}
.social-list a:hover i{
    background: #dc322f;
}
footer h6 {
    filter: alpha(Opacity=50);
    opacity: 0.5;
    padding-left: 40px;
    margin-top: 30px!important;
}
#responsive-menu ul li a{
    outline: none!important;
}
.icon-menu{
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.icon-menu li{
    float: left;
}
.icon-menu li a{
    color: #777;
    line-height: 60px;
    padding: 0px 5px;
}

.archive_post_list .post_item{
    margin-bottom: 10px;
    border-bottom: 2px dashed #f7f7f7;
}
.archive_post_list .post_item h4 a{
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    color: #333;
    margin-left: 10px;
}
.archive_post_list .post_item h4 span{
    opacity: 0.5;
}

.navbar-default .nav-justified li a{
    color: #777!important
}
@media all and (min-width:768px){
    .nav-justified li a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.search_result{
    min-height: 300px;
}

footer{
    border-top: 15px solid #e1e1e1;
    /*background: url('../images/sacura.png') left bottom no-repeat;*/
    margin-top: 20px;
    margin-bottom: -2px!important
}
footer div{
	margin-bottom: 0px!important;
}
.user_page{
    margin: 30px 0px 20px 0px;
    min-height: 300px;
}
.user_page .user_name{
    margin-top: 20px;
}
.user_page .count_post{
    color: #b81816
}
.user_page h2{
    margin-bottom: 20px;
    margin-top: 0px;
}
.user_page .author_post_item{
    margin-bottom: 10px;
}
.user_page .author_post_item h4{
    
}
.user_page .author_post_item h4 a{
    font-family: "Bebas Neue Bold";
    color: #333;
    font-size: 20px;
}
.user_page .author_post_item .post_date{
    position: relative;
    padding: 10px 0px 5px 0px;
    text-align: center;
    font-family: "Bebas Neue Bold";
    color: #fff;
    font-size: 20px;
}
.user_page .author_post_item .post_date i{
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
}

/*
.user_page .author_post_item .post_date.color-1{
    background: #dc322f;
}
.user_page .author_post_item .post_date.color-2{
    background: #0c5ca7;
}
.user_page .author_post_item .post_date.color-3{
    background: #617100;
}
.user_page .author_post_item .post_date.color-4{
    background: #4a4fa2;
}
.user_page .author_post_item .post_date.color-5{
    background: #859b00;
}
*/

.social_profile{
    margin: 20px 0px;
}
.social_profile ul{
    list-style: none;
    padding-left: 0px;
}
.social_profile ul li a{
    font-family: "Bebas Neue Bold";
    color: #333;
    font-size: 16px;
}
.social_profile ul li a i{
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background: #000;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.modal-content iframe{
    width: 100%!important
}
#uLogin{
    text-align: center!important;
    margin-bottom: 10px!important
}
.ulogin-buttons-container div{
    margin: 0px 5px!important 
}
.ulogin-button-vkontakte{
    position: relative!important;
    background: #597da3 url('../images/vk.png') center no-repeat !important;
}
.ulogin-button-google{
    position: relative!important;
    background: #d62d20 url('../images/google.png') center no-repeat !important;
}
.ulogin-button-twitter{
    position: relative!important;
    background: #4099FF url('../images/twitter.png') center no-repeat !important;
}
.ulogin-button-facebook{
    position: relative!important;
    background: #3b5998 url('../images/facebook.png') center no-repeat !important;
}

.login-submit{
    text-align: center!important
}
.login-submit .button-primary{
    margin: 10px 0px!important;
}
.tag_block{
    text-align: center;
    margin-bottom: 30px;
}
.share_block {
    margin-bottom: 20px;
}
.share_block .social_share{
	display: block;
    list-style: none;
    padding-left: 0px;
    text-align: center;
}
.share_block .social_share li{
    display: inline-block;
    float: none;
    margin-right: 10px;
}
.share_block .social_share li:last-child{
	margin-right: 0px!important
}
.share_block .social_share li a{
    color: #fff;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
}
.share_block .social_share li a:hover{
    text-transform: none!important;
    text-decoration: none!important;
}
.share_block .social_share li a span{
    border-left: 1px solid #fff;
    padding: 0px 10px;
}
.share_block .social_share li a i{
    margin: 0px 10px
}
.share_block .social_share li a.fb{
    background: #3B5998;
}
.share_block .social_share li a.vk{
    background: #597DA3;
}
.share_block .social_share li a.gp{
    background: #D34836;
}
.share_block .social_share li a.tw{
    background: #4099FF;
}
.share_block .social_share li a.getp{
    position: relative;
    background: #ee4056 
}
.share_block .social_share li.pocket_li{
    position: relative;
}
.share_block .social_share li.pocket_li .pocket-btn{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0!important;
}
.share_block .social_share li.pocket_li .pocket-btn iframe{
    width: 100%!important;
    height: 100%!important;
}
.widget.pocket.vertical{
    width: 100%!important;
}
.subscribe-form .input-group{
    position: relative;
}
.subscribe-form .input-group .form-control.input-email{
    padding: 0px 12px!important;
    line-height: 48px;
    margin-top: -8px;
    font-size: 16px;
    height: 48px;
}
.subscribe-form .input-group .input-group-btn button{
    line-height: 48px;
    height: 48px;
    margin-top: -8px!important;
    padding: 0px 20px!important;
    border-radius: 0px!important;
    background: #b81816!important;
    color: #fff;
    text-transform: uppercase;
    border:1px solid #b81816!important;
}
.subscribe-form .input-group .error {
    display: none;
    position: absolute;
    z-index: 300;
    bottom: 50px;
    width: 200px;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: rgba(240,47,47,0.95);
    border-radius: 6px;
    border: 5px solid #cd0e0e;
}
.subscribe-form .input-group .success {
    display: none;
    position: absolute;
    z-index: 300;
    bottom: 50px;
    width: 200px;
    padding: 40px 0px 10px 0px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: rgba(28,140,70,0.95);
    border-radius: 6px;
    border: 5px solid #106931;
}
blockquote{
    position: relative;
    border-left: 0px!important;
    padding-left: 40px!important;
    margin-top: 20px;
    font-size: 16px;
}
blockquote:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url('../images/quote_icon.png') center no-repeat;
}
blockquote:after{
    content: '';
    position: absolute;
}

.alignnone {
    max-width: 100%;
    height: auto;
    margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
    max-width: 100%;
    height: auto;
    margin: auto;
}
.alignright {
    max-width: 100%;
    height: auto;
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    max-width: 100%;
    height: auto;
    float:left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}
.comment_block ul li a {
	color:#fff;
}
.comment_block ul li a:hover {
	color:#fff;
}
.comment_block ul li a:focus, .comment_block ul li a:hover {
    color: #fff !important;
}
.date-box {display:inline-block;}
.top-bg-box {background:url(../images/post_header.jpg) no-repeat center;background-size: cover; height: 300px; position:relative; z-index:100; background-position:50% 50%;}
#rcl-overlay {background:none !important;}
.panel_lk_recall.floatform .form-tab-rcl {border-top:6px solid red;}
.category-bg {
    background: url(../images/cch.jpg) no-repeat center;
    background-size: cover;
    height: 150px;
	overflow:hidden;
}
.category-bg img {background-size:cover; width:100%} 
.category_post_list .post_info .author {color:#fff;}
.author {display:inline-block; padding:8px 20px 5px 20px;}

.cab_lt_sidebar #lk-menu span span {
    padding: 10px 10px 10px 5px;
    position: relative;
    font-family: "Bebas Neue Bold";
    letter-spacing: 1.5px;
}
.form-table th {
	font-size:18px;
    font-family: "Bebas Neue Bold";
}
.pager-item.type-page a{    font-family: "Bebas Neue Bold"; color:#999;}
.pager-item.type-current span{    font-family: "Bebas Neue Bold"; color:red;}
.publics-table-rcl a {font-family: "Bebas Neue Bold"; color:red; font-size:18px; line-height:16px;}
.publics-table-rcl tr {border-bottom:2px solid #ddd; margin-bottom:10px; margin-top:10px;}
..publics-table-rcl tr td {margin-top:10px;}
#rcl-office .recall_content_block th, #rcl-office .recall_content_block td {
    border: 1px solid rgb(243, 243, 243);
    padding: 10px 5px 5px;
    text-align: left;
    text-transform: none;
    vertical-align: middle;
}
.cab_lt_line {background:rgba(255,0,0,0.8); box-shadow:none; border-bottom:2px solid #fff;}
#rcl-office #lk-menu a.recall-button.active {background:red; color:#fff;}
#bl-block {display:none;}
#tab-button-postform {display:none;}

p.comment-form-author input {width:49%; margin-right:2%; float:left; padding:5px 10px;border:1px solid #ddd; box-shadow:none;}
p.comment-form-email input {width:49%;border:1px solid #ddd; padding:5px 10px; box-shadow:none;}
textarea#comment {width:100%; padding:5px 10px; border:1px solid #ddd; box-shadow:none;}
.form-submit input {background:red; border:none; box-shadow:none; color:#fff; padding:10px 25px;}
.comment-body {clear:both; padding-top:25px;}
.comment-meta {text-align:right;}
ul.commentlist {padding:0; margin:0;}
.comment > div {background:#eee; padding:10px !important; margin-bottom:10px;} 
.commentlist li {list-style:none !important;}
.commentlist li .comment-meta a {color:#666; font-size:13px; font-weight:normal !important;}
.commentlist li .comment-meta a:hover {color:red !important;}
.commentlist li ul li .comment-meta a {color:#666; font-size:13px; font-weight:normal !important;}
.commentlist li ul li .comment-meta a:hover {color:red !important;}

.comment-author {float:left;}
li.comment {padding-bottom:10px; margin-bottom:15px;}
a.comment-reply-link {color:red !important; font-size:13px !important; font-weight:normal !important; text-align:right;}
#comments-title em {font-style:normal !important; color:red !important;}
.commentlist li ul li a {color:red; font-size:13px; font-weight:normal;}
.commentlist li ul li a:hover {color:red !important; font-size:13px; text-decoration:underline; font-weight:normal;}
.commentlist li ul li { list-style:none !important;}
.comment li ul li >div {background:#eee; padding:10px !important;}
.fn {font-style:normal; margin:0 5px;}
.comment .fa {color:#666; margin:0 5px;}